<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Booking List</title>
  <link rel="shortcut icon" type="image/x-icon" href="https://static1.squarespace.com/static/5963ba91b11be18da82fb780/t/5a84fcdcec212d9c3300e7dc/favicon.ico">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascripts/delete_user.js"></script>
</head>

<body id="greenBackground">
  <div class="container">
    <h3>
      <a href="/users/user" class="button btn btn-outline-primary"><i class="fa fa-plus-square"></i>Create New Booking</a>
    </h3>
    <header>Booking List</header>
    <% if(users.length>0) { %>
      <form action="">
      <table id="tableIndex"> 
        <thead id="banner">
          <tr>
            <th>Contact Name</th>
            <th>Organization</th>
            <th>Payment</th>
            <th>Contact Phone #</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<users.length;i++) { %>
            <tr>
              <td>
                <%= users[i].name%>
              </td>
              <td>
                <%= users[i].organization%>
              </td>
              <td>
               $ <%= users[i].payment%>
              </td>
              <td>
                <%= users[i].phoneNumber%>
              </td>
              <td>
                <a href="/users/details/<%= users[i]._id%>" class="button" id="blue"><i class="fa fa-info-circle"></i>Details</a>
              </td>
              <td>
                  <a href="/users/user/<%= users[i]._id%>" class="button" id="orange"><i class="fa fa-edit"></i>Edit</a>
              </td>
              <td>
                <button class="deleteButton" class="button" id="red" data-uid="<%= users[i]._id%>">Delete</button>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>No Bookings found.</div>
        <% } %>
  </div>
</body>

</html>